<div class="banner">
</div>

  <% @lists.each do |list|%>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)))">
  <%= link_to list.name, list_path(list) %>
</div>
    <% end %>

<%= simple_form_for(@list, method: :post, url: lists_path, class: "form-control") do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>
